<div class="keyboard">
  <div class="keys">
    <!-- <div
      (click)="onKeyClick(key)"
      class="key btn"
      *ngFor="let key of keys"
      [class.btn--disabled]="key.guessed"
    >
      <div class="key-char">
        {{ key.value }}
      </div>
    </div> -->
    <div
      (click)="ingresoLetra('A', keyA)"
      title="A"
      class="key btn"
      [class.btn--disabled]="keyA"
    >
      <div class="key-char">A</div>
    </div>
    <div
      (click)="ingresoLetra('B', keyB)"
      title="B"
      class="key btn"
      [class.btn--disabled]="keyB"
    >
      <div class="key-char">B</div>
    </div>
    <div
      (click)="ingresoLetra('C', keyC)"
      title="C"
      class="key btn"
      [class.btn--disabled]="keyC"
    >
      <div class="key-char">C</div>
    </div>
    <div
      (click)="ingresoLetra('D', keyD)"
      title="D"
      class="key btn"
      [class.btn--disabled]="keyD"
    >
      <div class="key-char">D</div>
    </div>
    <div
      (click)="ingresoLetra('E', keyE)"
      title="E"
      class="key btn"
      [class.btn--disabled]="keyE"
    >
      <div class="key-char">E</div>
    </div>
    <div
      (click)="ingresoLetra('F', keyF)"
      title="F"
      class="key btn"
      [class.btn--disabled]="keyF"
    >
      <div class="key-char">F</div>
    </div>
    <div
      (click)="ingresoLetra('G', keyG)"
      title="G"
      class="key btn"
      [class.btn--disabled]="keyG"
    >
      <div class="key-char">G</div>
    </div>
    <div
      (click)="ingresoLetra('H', keyH)"
      title="H"
      class="key btn"
      [class.btn--disabled]="keyH"
    >
      <div class="key-char">H</div>
    </div>
    <div
      (click)="ingresoLetra('I', keyI)"
      title="I"
      class="key btn"
      [class.btn--disabled]="keyI"
    >
      <div class="key-char">I</div>
    </div>
    <div
      (click)="ingresoLetra('J', keyJ)"
      title="J"
      class="key btn"
      [class.btn--disabled]="keyJ"
    >
      <div class="key-char">J</div>
    </div>
    <div
      (click)="ingresoLetra('K', keyK)"
      title="K"
      class="key btn"
      [class.btn--disabled]="keyK"
    >
      <div class="key-char">K</div>
    </div>
    <div
      (click)="ingresoLetra('L', keyL)"
      title="L"
      class="key btn"
      [class.btn--disabled]="keyL"
    >
      <div class="key-char">L</div>
    </div>
    <div
      (click)="ingresoLetra('M', keyM)"
      title="M"
      class="key btn"
      [class.btn--disabled]="keyM"
    >
      <div class="key-char">M</div>
    </div>
    <div
      (click)="ingresoLetra('N', keyN)"
      title="N"
      class="key btn"
      [class.btn--disabled]="keyN"
    >
      <div class="key-char">N</div>
    </div>
    <div
      (click)="ingresoLetra('O', keyO)"
      title="O"
      class="key btn"
      [class.btn--disabled]="keyO"
    >
      <div class="key-char">O</div>
    </div>
    <div
      (click)="ingresoLetra('P', keyP)"
      title="P"
      class="key btn"
      [class.btn--disabled]="keyP"
    >
      <div class="key-char">P</div>
    </div>
    <div
      (click)="ingresoLetra('Q', keyQ)"
      title="Q"
      class="key btn"
      [class.btn--disabled]="keyQ"
    >
      <div class="key-char">Q</div>
    </div>
    <div
      (click)="ingresoLetra('R', keyR)"
      title="R"
      class="key btn"
      [class.btn--disabled]="keyR"
    >
      <div class="key-char">R</div>
    </div>
    <div
      (click)="ingresoLetra('S', keyS)"
      title="S"
      class="key btn"
      [class.btn--disabled]="keyS"
    >
      <div class="key-char">S</div>
    </div>
    <div
      (click)="ingresoLetra('T', keyT)"
      title="T"
      class="key btn"
      [class.btn--disabled]="keyT"
    >
      <div class="key-char">T</div>
    </div>
    <div
      (click)="ingresoLetra('U', keyU)"
      title="U"
      class="key btn"
      [class.btn--disabled]="keyU"
    >
      <div class="key-char">U</div>
    </div>
    <div
      (click)="ingresoLetra('V', keyV)"
      title="V"
      class="key btn"
      [class.btn--disabled]="keyV"
    >
      <div class="key-char">V</div>
    </div>
    <div
      (click)="ingresoLetra('W', keyW)"
      title="W"
      class="key btn"
      [class.btn--disabled]="keyW"
    >
      <div class="key-char">W</div>
    </div>
    <div
      (click)="ingresoLetra('X', keyX)"
      title="X"
      class="key btn"
      [class.btn--disabled]="keyX"
    >
      <div class="key-char">X</div>
    </div>
    <div
      (click)="ingresoLetra('Y', keyY)"
      title="Y"
      class="key btn"
      [class.btn--disabled]="keyY"
    >
      <div class="key-char">Y</div>
    </div>
    <div
      (click)="ingresoLetra('Z', keyZ)"
      title="Z"
      class="key btn"
      [class.btn--disabled]="keyZ"
    >
      <div class="key-char">Z</div>
    </div>
  </div>
</div>
